In [1]:
import pandas as pd

In [2]:
inst1 = {
    'Flex Sample ID': ['R0045',
  'R0045',
  'R0045',
  'R0045',
  'R0045',
  'R0045',
  'R0045',
  'R0045'],
 'date/time': ['2020-10-04 13:19:00',
  '2020-10-05 13:29:00',
  '2020-10-06 13:40:00',
  '2020-10-07 09:23:00',
  '2020-10-07 13:29:00',
  '2020-10-08 09:24:00',
  '2020-10-08 09:28:00',
  '2020-10-09 10:11:00'],
 'Gln': [0.13, 0.25, 0.78, 1.07, 1.24, 1.0, 1.16, 0.75],
 'Glu': [3.25, 3.32, 3.71, 4.21, 4.56, 4.51, 4.34, 4.55],
 'Gluc': [3.05, 2.95, 1.38, 2.41, 3.32, 3.79, 3.73, 4.23],
 'Lac': [1.96, 1.97, 4.45, 3.42, 2.99, 2.07, 2.06, 1.48],
 'NH4+': [2.05, 2.22, 2.56, 2.33, 2.5, 2.65, 2.58, 2.84],
 'Na+': [131.5, 128.1, 154.3, 124.8, 134.6, 114.5, 113.5, 109.5],
 'K+': [14.95, 14.52, 14.61, 13.57, 14.67, 14.21, 13.87, 13.1],
 'Ca++': [0.13, 0.14, 0.13, 0.11, 0.12, 0.1, 0.1, 0.11]
}

inst2 = {
    'Vicell Sample ID': ['R0045',
  'R0045',
  'R0045',
  'R0045',
  'R0045',
  'R0045',
  'R0045',
  'R0045',
  'R0045',
  'R0045'],
 'date/time': ['2020-10-04 13:26:15',
  '2020-10-05 13:46:18',
  '2020-10-05 14:20:36',
  '2020-10-06 13:47:32',
  '2020-10-07 09:30:04',
  '2020-10-07 11:19:56',
  '2020-10-07 13:35:54',
  '2020-10-07 13:39:39',
  '2020-10-08 09:32:03',
  '2020-10-08 09:37:32'],
 'Viability(%)': [86.9, 87.9, 85.8, 86.8, 86.3, 85.3, 84.4, 86.5, 83.2, 82.7],
 'Viable cells/ml (x10^6)': [71.2,
  77.3,
  71.1,
  66.6,
  62.0,
  70.0,
  59.0,
  63.3,
  48.3,
  48.5]
}

############ converting to Dataframe#########
inst1 = pd.DataFrame(inst1)
inst2 = pd.DataFrame(inst2)


########## converting str to datetome ###########
inst1["date/time"] = pd.to_datetime(inst1["date/time"])
inst2["date/time"] = pd.to_datetime(inst2["date/time"])

In [3]:
inst1

,Flex Sample ID,date/time,Gln,Glu,Gluc,Lac,NH4+,Na+,K+,Ca++
0,R0045,2020-10-04 13:19:00,0.13,3.25,3.05,1.96,2.05,131.5,14.95,0.13
1,R0045,2020-10-05 13:29:00,0.25,3.32,2.95,1.97,2.22,128.1,14.52,0.14
2,R0045,2020-10-06 13:40:00,0.78,3.71,1.38,4.45,2.56,154.3,14.61,0.13
3,R0045,2020-10-07 09:23:00,1.07,4.21,2.41,3.42,2.33,124.8,13.57,0.11
4,R0045,2020-10-07 13:29:00,1.24,4.56,3.32,2.99,2.50,134.6,14.67,0.12
5,R0045,2020-10-08 09:24:00,1.00,4.51,3.79,2.07,2.65,114.5,14.21,0.10
6,R0045,2020-10-08 09:28:00,1.16,4.34,3.73,2.06,2.58,113.5,13.87,0.10
7,R0045,2020-10-09 10:11:00,0.75,4.55,4.23,1.48,2.84,109.5,13.10,0.11

In [4]:
inst2

  Vicell Sample ID           date/time  Viability(%)  Viable cells/ml (x10^6)
0            R0045 2020-10-04 13:26:15          86.9                     71.2
1            R0045 2020-10-05 13:46:18          87.9                     77.3
2            R0045 2020-10-05 14:20:36          85.8                     71.1
3            R0045 2020-10-06 13:47:32          86.8                     66.6
4            R0045 2020-10-07 09:30:04          86.3                     62.0
5            R0045 2020-10-07 11:19:56          85.3                     70.0
6            R0045 2020-10-07 13:35:54          84.4                     59.0
7            R0045 2020-10-07 13:39:39          86.5                     63.3
8            R0045 2020-10-08 09:32:03          83.2                     48.3
9            R0045 2020-10-08 09:37:32          82.7                     48.5

# merge_asof
Merge based on how close the values are. Useful for merging based on datetime values for multiple data sources. A left Join is performed.

In [5]:
merge_asof = pd.merge_asof(inst1,inst2,
                          on = "date/time",
                          direction = "nearest",
                          tolerance = pd.Timedelta("30 minutes"))

merge_asof

,Flex Sample ID,date/time,Gln,Glu,Gluc,Lac,NH4+,Na+,K+,Ca++,Vicell Sample ID,Viability(%),Viable cells/ml (x10^6)
0,R0045,2020-10-04 13:19:00,0.13,3.25,3.05,1.96,2.05,131.5,14.95,0.13,R0045,86.9,71.2
1,R0045,2020-10-05 13:29:00,0.25,3.32,2.95,1.97,2.22,128.1,14.52,0.14,R0045,87.9,77.3
2,R0045,2020-10-06 13:40:00,0.78,3.71,1.38,4.45,2.56,154.3,14.61,0.13,R0045,86.8,66.6
3,R0045,2020-10-07 09:23:00,1.07,4.21,2.41,3.42,2.33,124.8,13.57,0.11,R0045,86.3,62.0
4,R0045,2020-10-07 13:29:00,1.24,4.56,3.32,2.99,2.50,134.6,14.67,0.12,R0045,84.4,59.0
5,R0045,2020-10-08 09:24:00,1.00,4.51,3.79,2.07,2.65,114.5,14.21,0.10,R0045,83.2,48.3
6,R0045,2020-10-08 09:28:00,1.16,4.34,3.73,2.06,2.58,113.5,13.87,0.10,R0045,83.2,48.3
7,R0045,2020-10-09 10:11:00,0.75,4.55,4.23,1.48,2.84,109.5,13.10,0.11,NaN,NaN,NaN

# merge_asof followed by an outer merge on a scaffold column
Allows for retaining of all the data that is outside the tolerance time.

In [6]:
inst2["Rank"] = inst2["date/time"].rank()

merge_asof = pd.merge_asof(inst1,inst2,
                          on = "date/time",
                          direction = "nearest",
                          tolerance = pd.Timedelta("30 minutes"))

merge_asof.merge(inst2, on = "Rank", how = "outer")

,Flex Sample ID,date/time_x,Gln,Glu,Gluc,Lac,NH4+,Na+,K+,Ca++,Vicell Sample ID_x,Viability(%)_x,Viable cells/ml (x10^6)_x,Rank,Vicell Sample ID_y,date/time_y,Viability(%)_y,Viable cells/ml (x10^6)_y
0,R0045,2020-10-04 13:19:00,0.13,3.25,3.05,1.96,2.05,131.5,14.95,0.13,R0045,86.9,71.2,1.0,R0045,2020-10-04 13:26:15,86.9,71.2
1,R0045,2020-10-05 13:29:00,0.25,3.32,2.95,1.97,2.22,128.1,14.52,0.14,R0045,87.9,77.3,2.0,R0045,2020-10-05 13:46:18,87.9,77.3
2,R0045,2020-10-06 13:40:00,0.78,3.71,1.38,4.45,2.56,154.3,14.61,0.13,R0045,86.8,66.6,4.0,R0045,2020-10-06 13:47:32,86.8,66.6
3,R0045,2020-10-07 09:23:00,1.07,4.21,2.41,3.42,2.33,124.8,13.57,0.11,R0045,86.3,62.0,5.0,R0045,2020-10-07 09:30:04,86.3,62.0
4,R0045,2020-10-07 13:29:00,1.24,4.56,3.32,2.99,2.50,134.6,14.67,0.12,R0045,84.4,59.0,7.0,R0045,2020-10-07 13:35:54,84.4,59.0
5,R0045,2020-10-08 09:24:00,1.00,4.51,3.79,2.07,2.65,114.5,14.21,0.10,R0045,83.2,48.3,9.0,R0045,2020-10-08 09:32:03,83.2,48.3
6,R0045,2020-10-08 09:28:00,1.16,4.34,3.73,2.06,2.58,113.5,13.87,0.10,R0045,83.2,48.3,9.0,R0045,2020-10-08 09:32:03,83.2,48.3
7,R0045,2020-10-09 10:11:00,0.75,4.55,4.23,1.48,2.84,109.5,13.10,0.11,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
8,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,R0045,2020-10-05 14:20:36,85.8,71.1
9,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,R0045,2020-10-07 11:19:56,85.3,70.0
10,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,R0045,2020-10-07 13:39:39,86.5,63.3
11,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,R0045,2020-10-08 09:37:32,82.7,48.5

As you can see, there are duplicate columns from inst2 (because of a second merge which was outer on rank). It could be simpler to delete all inst2 columns from the first merge (merge_asof) except for Rank column. This way we can avoid confusion from duplicate columns - this is just a scaffold step to do the real merge on the Rank column.

In [7]:
inst2["Rank"] = inst2["date/time"].rank()

merge_asof = pd.merge_asof(inst1,inst2,
                          on = "date/time",
                          direction = "nearest",
                          tolerance = pd.Timedelta("30 minutes"))

#merge_asof.merge(inst2, on = "Rank", how = "outer") #will do outer join after dropping columns from inst2

In [8]:
_drop = [i for i in inst2.columns if i not in ["Rank", "date/time"]] #list of drop (all except "Rank" "date/time")
_indx = inst2.columns[inst2.columns.isin(_drop)] #converting list names to column index object 
merge_asof.drop(_indx, axis = 1)

,Flex Sample ID,date/time,Gln,Glu,Gluc,Lac,NH4+,Na+,K+,Ca++,Rank
0,R0045,2020-10-04 13:19:00,0.13,3.25,3.05,1.96,2.05,131.5,14.95,0.13,1.0
1,R0045,2020-10-05 13:29:00,0.25,3.32,2.95,1.97,2.22,128.1,14.52,0.14,2.0
2,R0045,2020-10-06 13:40:00,0.78,3.71,1.38,4.45,2.56,154.3,14.61,0.13,4.0
3,R0045,2020-10-07 09:23:00,1.07,4.21,2.41,3.42,2.33,124.8,13.57,0.11,5.0
4,R0045,2020-10-07 13:29:00,1.24,4.56,3.32,2.99,2.50,134.6,14.67,0.12,7.0
5,R0045,2020-10-08 09:24:00,1.00,4.51,3.79,2.07,2.65,114.5,14.21,0.10,9.0
6,R0045,2020-10-08 09:28:00,1.16,4.34,3.73,2.06,2.58,113.5,13.87,0.10,9.0
7,R0045,2020-10-09 10:11:00,0.75,4.55,4.23,1.48,2.84,109.5,13.10,0.11,NaN

Another way of doing the same drop of columns. This is a simpler way, Ill go with it.

In [9]:
drop_ = inst2.columns[~inst2.columns.isin(["Rank", "date/time"])]
merge_asof.drop(drop_, axis = 1, inplace = True)

In [10]:
#Now can perform the outer merge
merge_asof = merge_asof.merge(inst2, on = "Rank", how = "outer")

Now just need to clean up:
    - create one master date/time column
    - create on master sample ID column
    - drop scaffolds (Rank, instrument specific Sample ID, instrument specific date/time)

In [11]:
merge_asof

,Flex Sample ID,date/time_x,Gln,Glu,Gluc,Lac,NH4+,Na+,K+,Ca++,Rank,Vicell Sample ID,date/time_y,Viability(%),Viable cells/ml (x10^6)
0,R0045,2020-10-04 13:19:00,0.13,3.25,3.05,1.96,2.05,131.5,14.95,0.13,1.0,R0045,2020-10-04 13:26:15,86.9,71.2
1,R0045,2020-10-05 13:29:00,0.25,3.32,2.95,1.97,2.22,128.1,14.52,0.14,2.0,R0045,2020-10-05 13:46:18,87.9,77.3
2,R0045,2020-10-06 13:40:00,0.78,3.71,1.38,4.45,2.56,154.3,14.61,0.13,4.0,R0045,2020-10-06 13:47:32,86.8,66.6
3,R0045,2020-10-07 09:23:00,1.07,4.21,2.41,3.42,2.33,124.8,13.57,0.11,5.0,R0045,2020-10-07 09:30:04,86.3,62.0
4,R0045,2020-10-07 13:29:00,1.24,4.56,3.32,2.99,2.50,134.6,14.67,0.12,7.0,R0045,2020-10-07 13:35:54,84.4,59.0
5,R0045,2020-10-08 09:24:00,1.00,4.51,3.79,2.07,2.65,114.5,14.21,0.10,9.0,R0045,2020-10-08 09:32:03,83.2,48.3
6,R0045,2020-10-08 09:28:00,1.16,4.34,3.73,2.06,2.58,113.5,13.87,0.10,9.0,R0045,2020-10-08 09:32:03,83.2,48.3
7,R0045,2020-10-09 10:11:00,0.75,4.55,4.23,1.48,2.84,109.5,13.10,0.11,NaN,NaN,NaT,NaN,NaN
8,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,R0045,2020-10-05 14:20:36,85.8,71.1
9,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,R0045,2020-10-07 11:19:56,85.3,70.0
10,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,R0045,2020-10-07 13:39:39,86.5,63.3
11,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,R0045,2020-10-08 09:37:32,82.7,48.5

In [12]:
merge_asof.filter(like = "date/time") #filter all columns for similar to "date/time" str
merge_asof.filter(like = "date/time").bfill(1) # also backfill values along axis 1 
merge_asof.filter(like = "date/time").bfill(1).iloc[:,0] # now only select the first column

merge_asof = merge_asof.assign(timestamp = lambda x: x.filter(like = "date/time").bfill(1).iloc[:,0]) # assign the result a new column "timestamp"

merge_asof = merge_asof.assign(Name = lambda x: x.filter(like = "Sample ID").bfill(1).iloc[:,0]) #same thing for sample Name

In [13]:
# Drop all unnecessary columns 
merge_asof.drop(merge_asof.filter(like = "date/time").columns,axis = 1, inplace =True)
merge_asof.drop(merge_asof.filter(like = "Sample ID").columns,axis = 1, inplace =True)
merge_asof.drop(["Rank"], axis = 1, inplace = True)

In [14]:
cols = ['Name','timestamp', 'Viable cells/ml (x10^6)', 'Viability(%)' ,'Gln', 'Glu', 'Gluc', 'Lac',
        'NH4+', 'Na+', 'K+', 'Ca++']
df = merge_asof[cols]

#### Combining it all together

In [15]:
inst2["Rank"] = inst2["date/time"].rank() #scaffold column

#merge on timestamp
merge_asof = pd.merge_asof(inst1,inst2,
                          on = "date/time",
                          direction = "nearest",
                          tolerance = pd.Timedelta("30 minutes"))

#deleting all but Rank from inst2 in prep for outer merge
drop_ = inst2.columns[~inst2.columns.isin(["Rank", "date/time"])]
merge_asof.drop(drop_, axis = 1, inplace = True)

#Now can perform the outer merge
merge_asof = merge_asof.merge(inst2, on = "Rank", how = "outer")

#Backfill the main identifier columns from both instruments into into single columns
merge_asof = merge_asof.assign(timestamp = lambda x: x.filter(like = "date/time").bfill(1).iloc[:,0]) # assign the result a new column "timestamp"
merge_asof = merge_asof.assign(Name = lambda x: x.filter(like = "Sample ID").bfill(1).iloc[:,0]) #same thing for sample Name 

# Drop all unnecessary columns 
merge_asof.drop(merge_asof.filter(like = "date/time").columns,axis = 1, inplace =True)
merge_asof.drop(merge_asof.filter(like = "Sample ID").columns,axis = 1, inplace =True)
merge_asof.drop(["Rank"], axis = 1, inplace = True)

# Final rearanging of columns
cols = ['Name','timestamp', 'Viable cells/ml (x10^6)', 'Viability(%)' ,'Gln', 'Glu', 'Gluc', 'Lac',
        'NH4+', 'Na+', 'K+', 'Ca++']
df = merge_asof[cols]

#Done
df

,Name,timestamp,Viable cells/ml (x10^6),Viability(%),Gln,Glu,Gluc,Lac,NH4+,Na+,K+,Ca++
0,R0045,2020-10-04 13:19:00,71.2,86.9,0.13,3.25,3.05,1.96,2.05,131.5,14.95,0.13
1,R0045,2020-10-05 13:29:00,77.3,87.9,0.25,3.32,2.95,1.97,2.22,128.1,14.52,0.14
2,R0045,2020-10-06 13:40:00,66.6,86.8,0.78,3.71,1.38,4.45,2.56,154.3,14.61,0.13
3,R0045,2020-10-07 09:23:00,62.0,86.3,1.07,4.21,2.41,3.42,2.33,124.8,13.57,0.11
4,R0045,2020-10-07 13:29:00,59.0,84.4,1.24,4.56,3.32,2.99,2.50,134.6,14.67,0.12
5,R0045,2020-10-08 09:24:00,48.3,83.2,1.00,4.51,3.79,2.07,2.65,114.5,14.21,0.10
6,R0045,2020-10-08 09:28:00,48.3,83.2,1.16,4.34,3.73,2.06,2.58,113.5,13.87,0.10
7,R0045,2020-10-09 10:11:00,NaN,NaN,0.75,4.55,4.23,1.48,2.84,109.5,13.10,0.11
8,R0045,2020-10-05 14:20:36,71.1,85.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,R0045,2020-10-07 11:19:56,70.0,85.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,R0045,2020-10-07 13:39:39,63.3,86.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,R0045,2020-10-08 09:37:32,48.5,82.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN